@using GraphLabs.DomainModel
@{
    ViewBag.Title = "_TestPoolEntryRow";
}

<div class="editorRow">
   @Html.EditorForModel((TestPoolEntry) Model)
    <a href="#" class="remove">Удалить</a>
</div>