@using GraphLabs.Site.Models.TestPool
@model GraphLabs.Site.Models.TestPool.TestPoolListModel

@{
    ViewBag.Title = "Тесты";
}

<hgroup>
    <h2>Тесты</h2>
    @Html.ActionLink("+ Создать новый тест", "Create")
</hgroup>

<!---<style type="text/css">
    .idColumn {
        width: 10%;
    }

    .nameColumn {
        width: 70%;
    }

    .openColumn {
        width: 20%;
    }
</style>-->

<form action="select_theme_show.php" method="post">
    <p>
        <select size="1" name="hero[]">
            <option autofocus>Тема не выбрана</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </p>
</form>

@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(tableStyle: "Grids",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            rowStyle: "grid-row",
            alternatingRowStyle: "grid-row",
            selectedRowStyle: "grid-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },

            columns: grid.Columns(
                grid.Column(header: "Название", format: item => item.Name, columnName: "Name", style: "nameColumn"),
                grid.Column(header: "Темы", format: item => item.Name, columnName: "Name", style: "nameColumn"),
                grid.Column(header: "Описание", format: item => item.Name, columnName: "Name", style: "nameColumn"),
                grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a style =""text-decoration:none"" href=""/TestPool/Edit/{0}"">&#9998;</a>",
                         item.Id)), columnName: ""),
                grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a style =""text-decoration:none"" href=""/TestPool/Look/{0}"">&#9776;</a>",
                         item.Id)), columnName: ""),
                grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a href='#' onclick=""deleteSchedule({0})"" style =""text-decoration:none"" >&#10006;</a>",
                         item.Id)), columnName: "")
                )
            );
}

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('tbody tr').click(function () {
                location.href = '/TestPool/Edit?id=' + $(this).find('td:first').text();
            });
        });
    </script>
}
