@using GraphLabs.Site.Models.TestPool
@using GraphLabs.DomainModel
@model GraphLabs.Site.Models.TestPool.TestPoolModel


@{
    ViewBag.Title = "Имя теста";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Вернуться к списку тестов", "Index")
</hgroup>

@{
    var grid = new WebGrid(Model.TestPoolEntries, canPage: true, canSort: true, rowsPerPage: 10, defaultSort: "№");
    grid.Pager(WebGridPagerModes.All);
    @grid.GetHtml(tableStyle: "Grids",
            headerStyle: "grid-header",
            footerStyle: "grid-footer",
            rowStyle: "grid-row",
            alternatingRowStyle: "grid-row",
            selectedRowStyle: "grid-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },
            columns: grid.Columns(
                grid.Column(header: "№", format: item => item.Id, columnName: "Id", style: "nameColumn"),
                grid.Column(header: "Подтема", format: item => item.TestQuestion.Question, columnName: "Question", style: "nameColumn"),
                grid.Column(header: "Тема", format: item => item.TestQuestion.SubCategory, columnName: "SubCategory", style: "nameColumn")
                )
            );
}
