
@model GraphLabs.Site.Models.Error.OopsModel
@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h1>Поздравляем! Вы всё поломали.</h1>
</hgroup>

<div>
    <p>@Model.ShortDescription</p>
    <p>@Model.Exception</p>
    <p>Пожалуйста, <a href="mailto:svt.zhr@gmail.com">сообщите нам</a>, как вы это сделали.</p>
</div>