input[type="button"],
button,
input[type="submit"],
submit {
	background-color:#3d7ae3;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #0414c4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:3px 10px;
	text-decoration:none;
    width:auto;
}

input[type="button"]:hover,
button:hover,
input[type="submit"]:hover,
submit:hover {
	background-color:#313d8f;
}

input[type="button"]:active,
button:active,
input[type="submit"]:active,
submit:active {
	position:relative;
	top:1px;
}

input[type="button"]:disabled,
button:disabled,
input[type="submit"]:disabled,
submit:disabled {
    background-color: #c7d1d6;
    border:1px solid #c7d1d6;
}

input[type="button"]:hover:disabled,
button:hover:disabled,
input[type="submit"]:hover:disabled,
submit:hover:disabled {
	background-color:#c7d1d6;
}

input[type="button"]:active:disabled,
button:active:disabled,
input[type="submit"]:active:disabled,
submit:active:disabled {
	position:relative;
	top:0px;
}