.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 15px;
  position: center;
}

.col-1 {
  width: 100%;
}

.col-2-1 {
  width: 13.5%;
  float: left;
}
.col-2-2 {
  width: 73%;
  float:left;
}
.col-2-3 {
  width: 13.5%;
  float: right;
}

.col-3 {
  width: 90%;
  text-align: center;
  font-size: 0.8em;
}