.grid {
}

.grid-header {
    border-bottom: 1.2px solid #000000;
    font-size: 0.75em;
    white-space: nowrap;
}

.grid-footer {
    text-align: end;
    font-size: 0.85em;
}

.grid-header td {
    font-size: 0.9em;
    border-spacing: 15px;
} 

.grid-header th {
    text-align: center;
} 

.grid-row {
    font-size: 0.85em; 
    text-align: justify;   
}

.grid-row td, .grid-altrow td, .grid th {
    border: none;
    text-align: justify;
}

.grid-row td:first-child {
    text-align: center;
}

/*Для стартовой страницы*/

.rline {
    text-indent: 5%;
    font-size: 0.9em;
}

.week {
    font-size: 0.9em;
}