.grid {
}

.grid-header {
    border-bottom: 1.2px solid #000000;
    white-space: nowrap;
    font-size: 0.8em;
}

.grid-footer {
    text-align: end;
}

.grid-header td {
    border-spacing: 15px;
} 

.grid-header th {
    text-align: center;
} 

.grid-row {
}

.grid-row td, .grid-altrow td, .grid th {
    border: none;
    text-align: center;
}

.grid-row td:first-child {
    text-align: justify;
}

/*Для стартовой страницы*/

.rline {
    text-indent: 5%;
}

.week {
}
