.grid {

}

.grid-header {
    border-bottom: 1.2px solid #000000;
    font-size: 0.85em;
    white-space: nowrap;
    font-weight: 400;
}

.grid-footer {
    text-align: end;
    font-size: 0.95em;
}

.grid-header td {
    font-size: 1.0em;
    border-spacing: 15px;
} 

.grid-header th {
    text-align: center;
} 

.grid-row {
    font-size: 0.95em;    
    text-align: justify;   
}

.grid-row td, .grid-altrow td, .grid th {
    border: none;
    text-align: justify;
}

.grid-row td:first-child {
    text-align: center;
}

/*Для стартовой страницы*/

.rline {
    text-indent: 5%;
    font-size: 1.0em;
}

.week {
    font-size: 1.0em;
}

/*для таблиц с нумерацией*/

.grid-number-row {
    font-size: 0.95em;    
}

.grid-number-row td, .grid-altrow td, .grid th {
    border: none;
    text-align: justify;
}