#login {
    margin: 0 0 0px;
    text-align: right;
    height: 30px;
    display: inline-block;
    float: right;
    margin-top: 10px;

}

    #login a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        font-family: Segoe UI, Verdana, Helvetica;
	    font-size: 1.8em;
	    font-style: normal;
        color: #5c7e94;
    }

    #login a.username {
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }