/*Почему z-index 8? Потому что 8 - мое любимое число!*/
#menu{
	width: 100%;
    float: left;
    margin-top: 1%; 
    margin-left: 0; 
    display: table;
    color: #ff0000;
    margin-bottom: 4.55%;
}

.mainmenu li {
	position: relative;
	display: inline;
    padding: 0 3px 0 4px;
}

.with {
    border-left: 2px solid #bbb;
}

.mainmenu a{
	display: inline;
    text-align: left;
    font-family: Segoe UI, Verdana, Helvetica;
    font-size: 1.0em;
	font-style: normal;
	width: 100%;
	text-decoration:none;
}

.mainmenu {
    margin: 0;
    padding: 5px;
    width: 100%;
}

.submenu {
    position: absolute;
    width: 6px;
    float: left;
    right: 91%;
    z-index: 11;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display:none;
}

.submenu li {
    background-color: rgba(255, 255, 255, 0.9);
}

#some:hover .submenu{
    display: block;
}

