#search {
    margin: 0 0 0px;
    text-align: right;
    display: inline-table;
    float: right;
    margin-top: -25px;
}

#search input {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
    width: 170px;
    height: 25px;
    font-family: Segoe UI, Verdana, Helvetica;
	font-size: 0.8em;
	font-style: normal;
    color: #5c7e94;
    z-index: 2;
    outline: none;
    padding-left: 30px;
}

#search .icon {
    position: absolute;
    margin-left: 8px;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.56);
    z-index:1;
}

#search .container {
    position:relative;
    white-space: nowrap;
}