@{
    ViewBag.Title = "Сгенерировать вариант задания для модуля '" + ViewBag.Task.Name + "'";
}

<h2>@ViewBag.Title</h2>

<div id="task-module-wrapper" class="ui-resizable">
    <div id="loading-please-wait">
        <img src="../../Images/graphlabs.png" alt="" />
        <p>Генератор загружается. Пожалуйста, подождите.</p>
    </div>
    <object id="task-module-object" data="data:application/x-silverlight-2," type="application/x-silverlight-2">
        <param name="source" value="/Content/SilverlightAppsProvider.ashx?kind=generator&taskId=@ViewBag.Task.Id" />
        <param name="onerror" value="onSilverlightError" />
        <param name="background" value="#E8EDEF" />
        <param name="minRuntimeVersion" value="2.0.31005.0" />
        <param name="autoUpgrade" value="true" />
        <!-- TODO: узнать, какие нужны инициализационные параметры -->
        <param name="initParams" value="params" /> 
        <param name="onload" value="onTaskModuleLoaded" />
        <param name="onerror" value="onTaskModuleLoaded" />
        <a href="http://go.microsoft.com/fwlink/?LinkID=124807" style="text-decoration: none;">
            <img src="http://go.microsoft.com/fwlink/?LinkId=108181" alt="Get Microsoft Silverlight" style="border-style: none" />
        </a>
    </object>
</div>

