@model GraphLabs.DomainModel.Task[]

@{
    ViewBag.Title = "Задания для лабораторных работ";
}

<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Добавить", "Upload")
</p>

<style type="text/css">
  .idColumn { width:3%; }
  .nameColumn { width:32%; }
  .descColumn { width:50%; }
  .versionColumn { width:10%; }
  .editColumn { width:5%; }
</style>

@{
    var grid = new WebGrid(Model, canPage:true ,canSort:true, rowsPerPage :4);
    grid.Pager(WebGridPagerModes.NextPrevious);
        @grid.GetHtml(tableStyle: "webGrid", 
            headerStyle: "webgrid-header",
            footerStyle : "webgrid-footer",
            rowStyle: "webgrid-row-style",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle : "webgrid-selected-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },
            
            columns: grid.Columns(
                grid.Column(header: "#",        format: item => item.Id,          columnName: "Id", style:"idColumn"),
                grid.Column(header: "Название", format: item => item.Name,        columnName: "Name", style:"nameColumn"),
                grid.Column(header: "Описание", format: item => item.Description, columnName: "Description", style:"descColumn"),
                grid.Column(header: "Версия",   format: item => item.Version,     columnName: "Version", style:"versionColumn;"),
                grid.Column(header: "",         format: item => Html.ActionLink("Изменить", "Edit", new { id = item.Id }), 
                            style: "actions,editColumn", canSort: false)
                )
            );


}