@model GraphLabs.Site.Models.TaskModel

@{
    ViewBag.Title = "Загрузить новое задание";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Обратно к списку", "Index")
</hgroup>

@using (Html.BeginForm("Upload", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <p>Укажите silverlight-приложение (*.xap) для загрузки:</p>
    <p><input type="file" name="xap" required /></p>
    <p><input type="submit" value="Загрузить" /></p>
}    

