@model GraphLabs.Site.Models.UserIndex

@{
    ViewBag.Title = "Список пользователей";
}

<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<style type="text/css">
    .idColumn { width:5%; }
    .nameColumn { width:41%; }
    .emailColumn { width:25%; }
    .groupColumn { width:24%; }
    .isverColumn { width:5%; }
</style>

@{
    var grid = new WebGrid(Model.Users, canPage:true ,canSort:true, rowsPerPage:10);
    grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(tableStyle: "webGrid", 
            headerStyle: "webgrid-header",
            footerStyle : "webgrid-footer",
            rowStyle: "webgrid-row",
            alternatingRowStyle: "webgrid-altrow",
            selectedRowStyle : "webgrid-selected-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable" },
            
            columns: grid.Columns(
                grid.Column(header: "#",          format: @<text> @if (item.IsStudent) {} else {} </text>,       columnName: "Id",       style:"idColumn"),
                grid.Column(header: "ФИО",   format: item => item.Name,     columnName: "Name",     style:"nameColumn"),
                grid.Column(header: "Email",   format: item => item.Email, columnName: "Email", style:"emailColumn"),
                grid.Column(header: "Группа", format: item => item.Group,     columnName: "Group",     style:"groupColumn;"),
                grid.Column(header: "Подтверждение", format:  @<text>@Html.Raw("<img src=\"/Images/_" + item.IsVerified + ".png\" />")</text>,     columnName: "Verify",     style:"isverColumn;")
                )
            );


}
