@{
    ViewBag.Title = "Список пользователей";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="leftPanel">
    @Html.Partial("_IndexOptionPartial")
</section>
<section id="rightPanel">
    @Html.Partial("_IndexListPartial")
</section>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('tbody tr').live('click', function() {
                location.href = '/User/Edit/' + $(this).find('td:first').text();
            });
        });
    </script>
}