@model GraphLabs.Site.Models.TestQuestionListViewModel

@{
    ViewBag.Title = "Добавить тему";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Вернуться к списку вопросов", "Index")
</hgroup>

@using (Html.BeginForm())
{
    <table width="60%" id="tableCategory" class="nakedTable">
        <tr>
            <td width="16%">
                Введите название темы
            </td>
            <td>
                <div class="editor-field editText">
                    @Html.Editor("QuestionCategory")
                </div>
            </td>
            <td width="20px">
                <a href='#' id="deleteCategory" title="Нажмите, чтобы удалить тему" style="font-size:2.0em; text-decoration-color:#282828; text-decoration:none; vertical-align:10px">&#10005;</a>
            </td>
        </tr>
    </table><table width="60%" id="tableAddCategory" class="nakedTable">
    <tr>
        <td width="15px">
            <button class="circle-add-button" id="addCategory" value="Добавить новую тему"></button>
        </td>
        <td>
            Добавить новую тему
        </td>
    </tr>
</table><input type="submit" value="Сохранить" id="submitButton" />}
@section Scripts
{
    <script>
        var countCategory = 1;
                
                /*добавление строки с новой темой*/
                $("#addCategory").click(addCategory);

                function addCategory(e) {
                    e.preventDefault();
                    countCategory++;
                    var newField = this.parentElement.offsetParent.previousElementSibling.cloneNode(true) //клонирую таблицу
                    //переделать надо id аргументы
                    newField.lastChild.firstChild.children[1].children[0].children[0].value = ""; //удаляю содержимое
                    this.parentElement.offsetParent.parentElement.insertBefore(newField, this.parentElement.offsetParent) //прикрепляю перед кнопкой добавления
                    newField.lastChild.firstChild.children[2].addEventListener('click',deleteCategory);
                }

                /*удаление строки с темой*/
                $("#deleteCategory").click(deleteCategory);

                function deleteCategory(e) {
                    e.preventDefault();
                    if (countCategory == 1) { alert("Нельзя удалить последнюю тему!"); return }
                    countCategory--;
                    var thisTable = this.parentNode.offsetParent;
                    thisTable.remove()
                }
    </script>
}