@model GraphLabs.Site.Models.SurveyCreatingModel

@{
    ViewBag.Title = "Создание теста";
}
<h1>12erguifwecgyfwe</h1>

    <div class="editor-label">
            Редактирование теста
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.question)
    </div>
    <table>
        <tr>
            <th>
                Варианты ответов
            </th>
            <th>
                Верность ответа
            </th>
        </tr>
        @foreach (var el in Model.questionOptions)
        {
            <tr>
                <td>
                    <input type="text" value="@el.Key" />
                </td>
                <td>
                    <input type="checkbox" value="@el.Value" />
                </td>
                <td>
                </td>
            </tr>
        }
    </table>
    <input id="addOption" type="button" value="Добавить вариант ответа" />



@section Scripts
{
    <script>
        $("#addOption").click(function () {
            $("table").append("<tr><td><input type=\"text\" value=\"\" /></td><td><input type=\"checkbox\" value=\"\" /></td><td><img src=\"/Images/_false.png\" class=\"deleteOption\" /></td></tr>");
        });
        $(".deleteOption").live("click", function () {
            $(this).parent().parent().remove();
        });
    </script>
}