@model GraphLabs.Site.Models.SurveyCreatingModel

@{
    ViewBag.Title = "Создание теста";
}
<h2>Создание вопроса</h2>
@using (Html.BeginForm()) {

    <div class="editor-label">
            Текст вопроса
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Question)
    </div>
    <table>
        <tr>
            <th>
                Варианты ответов
            </th>
            <th>
                Верность
            </th>
        </tr>
        @for (var i = 0; i < Model.QuestionOptions.Count; ++i)
        {
            <tr>
                <td>
                    @(Html.EditorFor(model => model.QuestionOptions[i].Key))
                </td>
                <td>
                    @(Html.EditorFor(model => model.QuestionOptions[i].Value))
                </td>
                <td>
                    <img title="Клонировать ответ" src="/Images/copy.png" class="copyOption" />
                    <img title="Удалить ответ" src="/Images/_false.png" class="deleteOption" />
                </td>
            </tr>
        }
    </table>
    <input id="addOption" type="button" value="Добавить вариант ответа" />
    <p>
        <input type="submit" value="Создать" />
    </p>
}
@section Scripts
{
    <script>

        var optionsCount = @(Model.QuestionOptions.Count - 1);


        $("#addOption").click(function () {
            optionsCount++;
            $("table").append("<tr><td>" +
                "<input class=\"text-box single-line\" type=\"text\" value=\"\" id=\"QuestionOptions_" + optionsCount.toString() + "__Key\"" + 
                "name=\"QuestionOptions[" + optionsCount.toString() + "].Key\" />" +
                "</td><td>" +
                "<input class=\"check-box\" data-val=\"true\" data-val-required=\"Требуется поле Value.\" id=\"QuestionOptions_" + optionsCount.toString() + "__Value\" name=\"QuestionOptions[" + optionsCount.toString() + "].Value\" type=\"checkbox\" value=\"true\" />" +
                "<input name=\"QuestionOptions[" + optionsCount.toString() + "].Value\" type=\"hidden\" value=\"false\">" +
                "</td><td><img title=\"Клонировать ответ\" src=\"/Images/copy.png\" class=\"copyOption\" />" + "\n" +
                "<img title=\"Удалить ответ\" src=\"/Images/_false.png\" class=\"deleteOption\" />" +
                "</td></tr>");
        });

        $(".deleteOption").live("click", function () {
            $(this).parent().parent().remove();
            //optionsCount--;
            
        });

        $(".copyOption").live("click", function () {
            $(this).parent().parent().clone().appendTo("table");
            //optionsCount++;
            //менять содержимое id и name в первых двух, в последнем только name
        });
    </script>
}