@model GraphLabs.Site.Models.SurveyCreatingModel

@{
    ViewBag.Title = "Создание теста";
}
<h2>Создание вопроса</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="editor-label">
            Текст вопроса
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.question)
    </div>
    <table>
        <tr>
            <th>
                Варианты ответов
            </th>
            <th>
                Верность
            </th>
        </tr>
        @for (var i = 0; i < Model.questionOptions.Length; ++i )
        {
            <tr>
                <td>
                    @(Html.EditorFor(model => model.questionOptions[i].answer))
                </td>
                <td>
                    @(Html.EditorFor(model => model.questionOptions[i].isCorrect))
                </td>
                <td>
                    <img title="Клонировать ответ" src="/Images/copy.png" class="copyOption" />
                    <img title="Удалить ответ" src="/Images/_false.png" class="deleteOption" />
                </td>
            </tr>
        }
    </table>
    <input id="addOption" type="button" value="Добавить вариант ответа" />
    <p>
        <input type="submit" value="Создать" />
    </p>
}
@section Scripts
{
    <script>
        $("#addOption").click(function () {
            $("table").append("<tr><td><input type=\"text\" value=\"\" /></td><td><input type=\"checkbox\" value=\"\" /></td><td><img title=\"Клонировать ответ\" src=\"/Images/copy.png\" class=\"copyOption\" /><img title=\"Удалить ответ\" src=\"/Images/_false.png\" class=\"deleteOption\" /></td></tr>");
        });

        $(".deleteOption").live("click", function () {
            $(this).parent().parent().remove();
        });

        $(".copyOption").live("click", function () {
            $(this).parent().parent().clone().appendTo("table");
        });
    </script>
}