@model GraphLabs.Site.Models.TestQuestionListViewModel

<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Вопрос
            </th>
            @if (Model.ShowCategory)
            {
                <th>
                    Категория
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model.Items)
        {
            <tr>
                <td>
                    @question.QuestionId
                </td>
                <td>
                    @question.Question
                </td>
                @if (Model.ShowCategory)
                {
                    <td>
                        @question.QuestionCategory
                    </td>
                }
            </tr>
        }
    </tbody>
</table>