@model GraphLabs.Site.Models.TaskModel[]

@{
    ViewBag.Title = "Задания для лабораторных работ";
}

<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Добавить задание", "UploadTask")
</p>

<!--<style type="text/css">
    .idColumn { width:3%; }
    .nameColumn { width:27%; }
    .sectionsColumn { width:27%; }
    .versionColumn { width:8%; }
    .noteColumn { width:32%; }
    .actionsColumn { width: 4% }
</style>-->

@{
    var grid = new WebGrid(Model, canPage:true ,canSort:true, rowsPerPage:10);
    grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(tableStyle: "webGrid", 
            headerStyle: "webgrid-header",
            footerStyle : "webgrid-footer",
            rowStyle: "webgrid-row",
            alternatingRowStyle: "webgrid-altrow",
            selectedRowStyle : "webgrid-selected-row",
            caption: null,
            displayHeader: true,
            htmlAttributes: new { id = "datatable", width = "100%" },
            
            columns: grid.Columns(
                grid.Column(header: "#", format: item => item.Id, columnName: "Id", style:"idColumn"),
                grid.Column(header: "Название", format: item => item.Name, columnName: "Name", style:"nameColumn"),
                grid.Column(header: "Темы", format: item => item.Sections, columnName: "Sections", style:"sectionsColumn"),
                grid.Column(header: "Версия", format: item => item.Version, columnName: "Version", style:"versionColumn"),
                grid.Column(header: "Примечание", format: item => item.Note, columnName: "Note", style:"noteColumn"),
                grid.Column(
                    header: "Действия", 
                    format: item => Html.Raw(string.Format(
                            @"<a href=""/Task/EditTask/{0}"">
<img src=""{1}"" alt=""Редактировать"" width=""24"" height=""24\"" />
</a>",
                            item.Id,
                            Url.Content("../Images/edit.png"))),     
                    columnName: "Actions",
                    style:"actionsColumn")
                )
            );


}

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('tbody tr').click(function () {
                location.href = '/TaskVariant/' + $(this).find('td:first').text();
            });
        });
    </script>
}