<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphLabs.Common.Utils" version="1.2.0" targetFramework="net45" />
  <package id="GraphLabs.Tasks.Contract" version="1.2.0" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net452" />
</packages>