@model GraphLabs.Site.Models.TaskModel

@{
    ViewBag.Title = "Загрузить новое задание Silverlight";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    @Html.ActionLink("Обратно к списку", "Index")
</hgroup>

<p class="error">@ViewBag.ErrorMessage</p>

@using (Html.BeginForm("UploadTask", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <p>Укажите React-приложение для загрузки:</p>
    <p><input type="file" name="js" required /></p>

    <p><input type="submit" value="Загрузить" /></p>
}    

