@model GraphLabs.Site.Models.TestPoolEntry.TestPoolEntryModel

@{
    ViewBag.Title = "_TestPoolEntryRow";
}

<div class="editorRow">
   @Html.EditorForModel(Model)
    <a href="#" class="remove">Удалить</a>
</div>