<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="connections.config" />
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="IsDebug" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Basic" />
        <behavior name="WebJson">
          <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
                 maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="GraphLabs.WcfServices.Service2">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IService2" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IService2" />
      </service>
      <service name="GraphLabs.WcfServices.VariantProviderService">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IVariantProviderService" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IVariantProviderService" />
      </service>
      <service name="GraphLabs.WcfServices.VariantGenService">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IVariantGenService" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IVariantGenService" />
      </service>
      <service name="GraphLabs.WcfServices.UserActionsRegistrator">
        <!-- конечная точка SOAP -->
        <endpoint address="basic" binding="basicHttpBinding" behaviorConfiguration="Basic"
                  bindingConfiguration="Basic" name="Basic" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IUserActionsRegistrator" />

        <!-- конечная точка REST (формат Json) -->
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="WebJson"
                  bindingConfiguration="WebJson" name="WebJson" bindingNamespace="http://dszss.proitr.ru/WCF"
                  contract="GraphLabs.WcfServices.IUserActionsRegistrator" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>