
@model GraphLabs.Site.Controllers.Error404Model
@{
    ViewBag.Title = "404";
}

<hgroup class="title">
    <h1>Страшная, непоправимая ошибка №404.</h1>
</hgroup>

<div>
    <p>Запрошенной страницы не существует.</p>
    <p>Если вы уверены, что страница <a href="@Model.RequestedUrl">@Model.RequestedUrl</a> должна тут всё-таки быть, <a href="http://bugs.svtz.ru">сообщите нам об этом.</a></p>
</div>