@{
    ViewBag.Title = "Ошибка доступа";
}

<h2>Ошибка!</h2>

<p class="error">
    Доступ на запрашиваемую страницу запрещен!
</p>

<div>
    @Html.ActionLink("На главную", "Index", "Home")
</div>