@model GraphLabs.Site.Models.CategoryListViewModel

@{
    ViewBag.Title = "Категории";
}

<hgroup>
    <h2>Категории</h2>
    @Html.ActionLink("Добавить", "Create", "Category")
</hgroup>

