<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="GraphLabsTestContext" connectionString="metadata=res://*/GraphLabsDataModel.csdl|res://*/GraphLabsDataModel.ssdl|res://*/GraphLabsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=tcp:glservice.svtz.ru,3400;initial catalog=gl_unit_tests;persist security info=True;user id=glservice;password=glservice;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DirectConnectionString" connectionString="server=tcp:glservice.svtz.ru,3400;initial catalog=gl_unit_tests;persist security info=True;user id=glservice;password=glservice;MultipleActiveResultSets=True;App=EntityFramework" />
</connectionStrings>