@{
    ViewBag.Title = "Список лабораторных работ";
}

<h2 id="title">@ViewBag.Title</h2>

<div class="NewLab">
    <input id="CreateLab" type="button" value="Создать лабораторную работу">
</div>
<div class="CreateLab">
    @Html.Label("Название: ")
    <div id="CreateError" class="message-error">Введите название!</div>
    <input id="LabName" type="text">
    <input id="Create" type="button" value="Создать">
    <input id="CreateCancel" type="button" value="Отмена">
</div>

@section Scripts {
    <script>
        var newLab;
        var createLab;
        var createError;

        $(document).ready(function () {
            HideError();
            HideCreate();
        });

        function HideCreate() {
            createLab = $(".CreateLab").detach();
        };

        function HideError() {
            createError = $("#CreateError").detach();
        };

        $("#CreateLab").click(function () {
            newLab = $(".NewLab").detach();
            $("#title").after(createLab);
        });

        $("#Create").click(function () {
            $("#CreateError").detach();
            if ($("#LabName").val() == "") {
                $("#LabName").before(createError);
                return;
            };
            location.href = "/Lab/AddLab/?name=" + $("#LabName").val();
        });

        $("#CreateCancel").click(function () {
            $("#CreateError").detach();
            $("#LabName").val("");
            $(".CreateLab").detach();
            $("#title").after(newLab);
        });

    </script>
}