@using GraphLabs.DomainModel
@using GraphLabs.Site.Models.Schedule
@using GraphLabs.Site.Models.Schedule.Edit
@model LabScheduleListModel

@{
    ViewBag.Title = "Результаты поиска по расписанию: ";
}
<h2>@ViewBag.Title</h2>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, defaultSort: "Дата открытия");
    @grid.GetHtml(
        tableStyle: "Grids",
        headerStyle: "grid-header",
        footerStyle: "grid-footer",
        rowStyle: "grid-row",
        alternatingRowStyle: "grid-row",
        selectedRowStyle: "grid-row",
        displayHeader: true,
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
        grid.Column(header: "Лабораторная работа", format: item => item.LabName, columnName: "LabName"),
        grid.Column(header: "Выполняет", format: item => item.Doer, columnName: "Doer"),
        grid.Column(header: "Дата открытия", format: item => item.DateFrom, columnName: "DateFrom"),
        grid.Column(header: "Дата закрытия", format: item => item.DateTill, columnName: "DateTill"),
        grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a style =""text-decoration:none"" href=""/Schedule/EditSchedule/{0}"">&#9998;</a>",
        item.Id)), columnName: ""),
        grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a style =""text-decoration:none"" href="""">&#9776;</a>",
        item.Id)), columnName: ""),
        grid.Column(header: "", format: item => Html.Raw(string.Format(@"<a style =""text-decoration:none"" href="""">&#10006;</a>",
        "Delete", new { Id = item.Id }, null)), columnName: "")
     ));
}
