@{
    ViewBag.Title = "Новости";
}

<div>
    <p class="message-success">
        @ViewBag.StatusMessage
    </p>
    <p>
        @ViewBag.StatusDescription
    </p>
</div>
<p>Тут будут новости.</p>
