@{
    string action;
    string variantNumber;
    if (ViewBag.VariantId >= 0)
    {
        action = "редактирование";
        variantNumber = " " + ViewBag.VariantNumber;
    }
    else
    {
        action = "создание";
        variantNumber = string.Empty;
    }
    ViewBag.Title = string.Format("{0}: {1} варианта{2}", ViewBag.TaskName, action, variantNumber);
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
    @Html.ActionLink("Обратно к списку", "Index")
</hgroup>
<p>
    <object data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="500px">
        <param name="source" value="/Content/SilverlightAppsProvider.ashx?kind=generator&taskId=@ViewBag.TaskId" />
        <param name="onerror" value="onSilverlightError" />
        <param name="background" value="#E8EDEF" />
        <param name="minRuntimeVersion" value="2.0.31005.0" />
        <param name="autoUpgrade" value="true" />
        <param name="initParams" value="taskId=@ViewBag.TaskId,variantId=@ViewBag.VariantId,afterSave=/TaskVariant/@ViewBag.TaskId" />
        <a href="http://go.microsoft.com/fwlink/?LinkID=124807" style="text-decoration: none;">
            <img src="http://go.microsoft.com/fwlink/?LinkId=108181" alt="Get Microsoft Silverlight" style="border-style: none" />
        </a>
    </object>
</p>