#labViewLeft {
    width: 25%;
    float: left;
    display: inline-block;
    margin: 10px 0 10px 0;
}

.labViewTable {
    margin-top: 0;
}

    .labViewTable th {
        height: 60px;
        min-width: 130px;
        max-width: 130px;
        border: solid 1px;
        padding: 3px;
    }

    .labViewTable td {
        height: 60px;
        min-width: 130px;
        max-width: 130px;
        border: solid 1px;
        padding: 3px;
    }

#labViewLeftTable {
    width: 100%;
}

#labViewRight {
    width: 75%;
    float: left;
    display: inline-block;
    margin: 10px 0 0 0;
    overflow-x: auto;
}