.webgrid {
    border: 1px solid #e2e2e2;
}

.webgrid-header {
    font-size: 0.9em;
    background-color: #E5E5E5;
}

.webgrid td:first-child  {
    padding-left: 20px;
}

.webgrid th:first-child a {
    padding-left: 15px;
}

.webgrid-row {
    font-size: 0.8em;
}

.webgrid-row td, .webgrid-altrow td, .webgrid th {
    padding-left: 5px;
}

.webgrid-altrow {
    font-size: 0.8em;
    background-color: #E5E5E5;
}

.webgrid-row:hover, .webgrid-altrow:hover, .webgrid th:hover {
    background-color: rgb(199, 209, 214);
    cursor: pointer;
}